[submodule "gstreamer"]
	path = gstreamer
	url = git://anongit.freedesktop.org/gstreamer/gstreamer
[submodule "gst-plugins-base"]
	path = gst-plugins-base
	url = git://anongit.freedesktop.org/gstreamer/gst-plugins-base
[submodule "gst-plugins-good"]
	path = gst-plugins-good
	url = git://anongit.freedesktop.org/gstreamer/gst-plugins-good
[submodule "gst-plugins-bad"]
	path = gst-plugins-bad
	url = git://anongit.freedesktop.org/gstreamer/gst-plugins-bad
[submodule "gst-plugins-ugly"]
	path = gst-plugins-ugly
	url = git://anongit.freedesktop.org/gstreamer/gst-plugins-ugly
[submodule "gst-ffmpeg"]
	path = gst-ffmpeg
	url = git://anongit.freedesktop.org/gstreamer/gst-ffmpeg
[submodule "gst-rtsp-server"]
	path = gst-rtsp-server
	url = git://anongit.freedesktop.org/gstreamer/gst-rtsp-server
